@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
.App {
  background: radial-gradient(at 10% 0%, rgba(0, 0, 0, 0) 60%, #00B8D4 60%), radial-gradient(at 30% 10%, rgba(0, 0, 0, 0) 50%, #18FFFF 50%), radial-gradient(circle at 29% 0%, #18FFFF 8%, rgba(0, 0, 0, 0) 8%), radial-gradient(circle at 31% 0%, #00B8D4 13%, #00E5FF 13%), #00B8D4;
  width: 100%;
  height: 100vh;
  font-family: 'Poppins',sans-serif;
  padding-top: 10%;
}
.todo-container{
  width: 40%;
  padding: 0;
  margin: auto;
  height: 400px;
  background-color: #181830;
  border-radius: 10px;
  color: #fff;
  display: flex;
  text-align: left;
  flex-direction: column;
}
h3{
  font-weight: 800;
}

.textinput{
  width: 90% !important;
  background-color: transparent !important;
  border-radius: 0px !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  outline: none !important;
  box-shadow: none !important;
  color: #fff !important;
  padding-left: 0 !important;
  padding:2% 0 !important;

}
.first{
  width: 90%;
}
.checkbox{
  width:2px;
  height: 27px;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid #fff;
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  box-shadow: none !important;
  margin-right: 3%;
}
.checkbox:checked {
  clip-path: circle(50% at 50% 50%);
  background-color: blue;
}
.list-item{
  background-color: #242452;
  border-radius: 5px;
}